

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;

  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .image-wrap{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 16px; 
    margin-left: -50px; 
    padding: 46px 31px; 
    flex: none;
}