

.embla {
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    width: max-content;
    height: fit-content;
    margin-left: -100px;
  }
  .embla__container {
  }
  .embla__slide_clone {
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-wrap{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 16px; 
    margin-left: -50px; 
    padding: 46px 31px; 
    flex: none;
}