

.embla {
    padding-top: 30px;
    overflow: hidden;
  }
  .embla__container {
    position: relative;
    margin-left: -100px;
  }
  .embla__container_clone {
    position: absolute ;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .image-wrap{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 16px; 
    margin-left: -50px; 
    padding: 46px 31px; 
    flex: none;
}