.App {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #F5F5F5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.black-nav {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 35px;
  color: white;
  display: flex;
  padding: 10px;

  text-align: center;
  align-items: center;
  }

.button {
  margin-left: 20px;
}