@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

:root {
  --nav-logo-font: 2rem;
}

.nav {
  color: var(--color-new-black);
}

.nav-logo {
  display: flex;
  align-items: center;
  font-family: 'Imprima', sans-serif;
  font-size: var(--nav-logo-font);
}

.nav-logo div{
  height: 100%;
}

.nav-logo-img-wrap {
  width: 3rem;
  height: 2.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}