:root {
  --color-new-black: rgba(0, 13, 88, 1);
  --color-yellow: rgba(255, 225, 113, 1);

  
  --space-between-components: 5rem;
}

@media (max-width: 1024px) {
  :root {
    --space-between-components: 4.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --space-between-components: 4rem;
  }
}

ol, ul, li, p, br{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* 드래그 막기 */
/* body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
} */