@media screen and (min-width: 1000px) {
    .Button_viewer{
        margin-bottom: 50% !important;
    }
}


.Button_viewer{
    margin-bottom: 100%;
}

.Buttons{
    position:absolute;
    width: 100%;
    height: 90%;

    background-color: rgba(217, 217, 217, 0.1);
    color: aqua;
}