
.Button_viewer{
    margin-top: 10%;
    margin-bottom: 10%;
}

@media screen and (min-width:400px) and (max-width: 600px) {
    .Button_viewer{
        margin-bottom: 150% !important;
    }
}

@media screen and (min-width: 1000px) {
    .Button_viewer{
        margin-bottom: 50% !important;
    }
}

@media screen and (min-width : 600px) and (max-width:1000px) {
    .Button_viewer{
        margin-bottom: 100%;
    }
}

@media screen and (max-width:400px) {
    .Button_viewer{
        margin-bottom: 170% !important;
    }
}

.Buttons{
    position:absolute;
    width: 100%;
    height: 90%;

    background-color: rgba(217, 217, 217, 0.1);
    color: aqua;
}