@media screen and (max-width:450px) {
    .Button_viewer{
        margin-bottom: 170% !important;
    }
}

@media screen and (min-width:450px) and (max-width: 550px) {
    .Button_viewer{
        margin-bottom: 140% !important;
    }
}

@media screen and (min-width:550px) and (max-width: 700px) {
    .Button_viewer{
        margin-bottom: 120% !important;
    }
}

@media screen and (min-width : 700px) and (max-width:1000px) {
    .Button_viewer{
        margin-bottom: 90%;
    }
}

@media screen and (min-width: 1000px) and (max-width:1200px) {
    .Button_viewer{
        margin-bottom: 80% !important;
    }
}

@media screen and (min-width: 1200px) {
    .Button_viewer{
        margin-bottom: 60% !important;
    }
}







.Buttons{
    position:absolute;
    width: 100%;
    height: 90%;

    background-color: rgba(217, 217, 217, 0.1);
    color: aqua;
}