.calender{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.calender_view{
    display: flex;
    justify-content: center;
}

.calender_image {
    width: 65%;
}

@media (max-width: 1024px) {
    .calender_image {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .calender_image {
        width: 100%;
    }
}