:root {
    --calender-space-basic: 5rem;
}

.calender{
    background: rgba(217, 217, 217, 0.1);
    margin-bottom: var(--space-between-components);
    padding: var(--calender-space-basic) 0;
}

.calender_view{
    display: flex;
    justify-content: center;
}

.calender_image {
    width: 65%;
}

@media (max-width: 1024px) {
    :root {
        --calender-space-basic: 4.5rem;
    }

    .calender_image {
        width: 80%;
    }
}

@media (max-width: 768px) {
    :root {
        --calender-space-basic: 4rem;
    }

    .calender_image {
        width: 100%;
    }
}