@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@500;700&display=swap');

:root {
  --quote-size: 5rem;
  --cardnews-font-big: 3rem;
  --cardnews-font-small: 2rem;

  --cardnews-space-basic: 1rem;

  --card-size: 250px;
}

@media (max-width: 1024px) {
  :root {
    --quote-size: 4.5rem;
    --cardnews-font-big: 2.5rem;
    --cardnews-font-small: 1.5rem;
  
    --cardnews-space-basic: 1rem;
  
    --card-size: 200px;
  }
}

@media (max-width: 768px) {
  :root {
    --quote-size: 4rem;
    --cardnews-font-big: 2.3rem;
    --cardnews-font-small: 1.3rem;
  
    --cardnews-space-basic: 0.7rem;
  
    --card-size: 170px;
  }
}

.cardnews_body {
  display: flex;
  flex-direction: column;
  background: rgba(217, 217, 217, 0.1);
  padding: calc(var(--cardnews-space-basic) * 10) 0;
  margin-bottom: var(--space-between-components);
}

.cardnews_body .swiper-wrapper{
  transition-timing-function : linear;
}

.cardnews_body .swiper-slide {
  width: calc(var(--card-size) * 1.02);
  height: calc(var(--card-size) * 1.02);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardnews_body .swiper-slide img {
  width: var(--card-size);
  height: var(--card-size);
  transition: all 100ms ease-out;
}

.cardnews_body .swiper-slide img:hover {
  width: calc(var(--card-size) * 1.02);
  height: calc(var(--card-size) * 1.02);
  transition: all 100ms ease-out;
}

.cardnews_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(var(--cardnews-space-basic) * 3);
}

.cardnews_title_big {
  display: flex;
  align-items: center;
  margin-bottom: var(--cardnews-space-basic);
}

.cardnews_title_big span {
  font-family: 'Inter';
  font-weight: 700;
  color: #000D58;
  font-size: var(--cardnews-font-big);
  line-height: 1;
}

.cardnews_title_small {
  display: flex;
  align-items: center;
}

.cardnews_title_small span{
  font-family: 'Inter';
  font-weight: 400;
  color: #FFE171;
  background: #000D58;
  font-size: var(--cardnews-font-small);
  padding: 0 calc(var(--cardnews-space-basic) / 4);
  line-height: 1.3;
}

.cardnews_title_big .cardnews_title_quote_open {
  font-size: var(--quote-size);
  color: rgba(0, 13, 88, 0.5);
  position: relative;
  top: -5px;
  left: -10px;
  font-family: 'Inika';
  font-weight: 400;
}

.cardnews_title_big .cardnews_title_quote_close {
  font-size: var(--quote-size);
  color: rgba(0, 13, 88, 0.5);
  position: relative;
  bottom: -40px;
  right: -10px;
  font-family: 'Inika';
  font-weight: 400;
}