@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

:root {
  --black: rgba(0, 0, 0, 1);
  --newBlack: #000D58;
  --yellow: #FFE171;

  --font-big: 32px;
  --font-mid: 20px;
  --font-small: 14px;
  --font-very-small: 12px;

  --space-basic: 18px;
}

.footer {
  border-top: 2px var(--newBlack) solid;
  padding: calc(var(--space-basic) * 4);
  display: flex;
  font-family: 'Inter';
  height: 300px;
}

.footer_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 5;
  flex-shrink: 5;
}

.footer_intro .footer_haedal {
  display: flex;
  flex-direction: column;
}

.footer_haedal_logo {
  display: flex;
  align-items: center;
  line-height: 1;
  position: relative;
  left: -10px;
}

.footer_haedal_logo img {
  width: calc(var(--font-big) * 2);
}

.footer_haedal_logo > span {
  font-size: var(--font-big);
  font-family: 'Imprima';
  position: relative;
  left: -5px;
}

.footer_haedal_desc {
  font-size: var(--font-small);
  color: var(--newBlack);
}

.footer_links {
  display: flex;
}

.footer_links img {
  width: 2rem;
  height: 2rem;
  margin-right: calc(var(--space-basic) / 2);
  cursor: pointer;
}

.footer_contact {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer_contact > span,
.footer_madeBy > span {
  font-size: var(--font-mid);
  margin-bottom: var(--space-basic);
}

.footer_contact ul {
  font-size: var(--font-small);
}

.footer_madeBy {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer_madeBy ul {
  font-size: var(--font-small);
}

.footer_copyright {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: end;
  font-size: var(--font-very-small);
  color: rgba(0, 13, 88, 0.5);
}

@media screen and (max-width: 860px) {
  .footer {
    flex-direction: column;
    height: auto;
  }

  .footer_links {
    margin-top: var(--space-basic);
  }
  
  .footer > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .footer > *:not(:last-child) {
    margin-bottom: calc(var(--space-basic) * 2);
  }

  .footer_contact > span,
  .footer_madeBy > span {
    margin-bottom: calc(var(--space-basic) / 2);
  }

  .footer_copyright {
    justify-content: left;
  }
}