.OneButton{
    position: absolute;
    background-color: green;
    height: 25%;
    width: 42%;
    z-index: 1;
    padding-top: 2%;
    padding-left: 3.3%;
}

#Button1{
    top : 7%;
    left : 7%;
}

#Button2{
    top : 7%;
    right: 7%;
}

#Button3{
    left : 7%;
    top: 37%;
}
#Button4{
    top : 37%;
    right : 7%;
}
#Button5{
    left : 7%;
    top : 67%;
}
#Button6{
    right : 7%;
    top : 67%;
}

.contentText{
    top:14%;
    left:10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
    line-height: 48px;
    color: #000D58;
}